# Compiled files
dist/

# Config file
config/config.js

# Node stuff
dashboard/node_modules
server/node_modules
.npm
.node_repl_history
.lock-wscript
logs
*.log
npm-debug.log*

# OS stuff
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.Spotlight-V100
.Trashes

.idea/

#Db config
server/server/config.json
server/fb_graph_api.json
